@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.table{
  vertical-align: middle ;
  text-align: center ;
  padding: 10 ; 
}

.bg-preferred {
  background-color: yellow !important;;
}

.bg-off {
  background-color: yellow !important;
}

.text-sunday {
  color: red !important;
}

.text-blue {
  color: blue !important;
}

.text-red {
  color: red !important;
}

/* スマホ画面向けのスタイル */
@media (max-width: 768px) {
  .container {
    padding: 0;
  }
  
  .table {
    font-size: 12px; /* テーブルの文字サイズを小さくする */
  }

  .table thead th, .table tbody td {
    padding: 5px; /* セルの余白を調整 */
  }

  .table thead th {
    font-size: 10px; /* ヘッダーの文字サイズをさらに小さく */
  }
  
  .table tbody td {
    font-size: 10px; /* セルの文字サイズをさらに小さく */
  }

  h1 {
    font-size: 24px; /* タイトルの文字サイズを小さく */
  }

  .btn {
    font-size: 14px; /* ボタンの文字サイズを小さく */
  }

  label {
    font-size: 12px; /* ラベルの文字サイズを小さく */
  }

  .text-center {
    text-align: center; /* 中央揃え */
  }
}