@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.table{
  vertical-align: middle ;
  text-align: center ;
  padding: 10 ; 
}

.bg-preferred {
  background-color: yellow !important;;
}

.bg-off {
  background-color: yellow !important;
}

.text-sunday {
  color: red !important;
}

.text-blue {
  color: blue !important;
}

.text-red {
  color: red !important;
}
